<wicket:extend>
	<div class="container">
		<div class="page-header">
			<h1>Incluir jogo</h1>
		</div>

		<form wicket:id="form">

			<div wicket:id="feedback"></div>
			<div wicket:id="nomeCB">
				<input class="form-control" type="text" wicket:id="nomeTF" />
			</div>


			<div wicket:id="generoCB">
				<select class="form-control" wicket:id="generoSelect" />
			</div>


			<div wicket:id="descricaoCB">
				<textarea class="form-control" wicket:id="descricaoTA"></textarea>
			</div>



			<div wicket:id="notaCB">
				<input class="form-control" type="text" wicket:id="notaTF" />
			</div>







			<div class="checkbox">
				<label> <input type="checkbox" wicket:id="emprestado" />Emprestado </label> 
				<input class="form-control" type="text" wicket:id="emprestadoPara" />
			</div>
			<input type="submit" wicket:id="salvar" class="btn btn-default" />
		</form>

		<br />
		<button wicket:id="listView" class="btn btn-default">[ListView]</button>



	</div>


</wicket:extend>