<!DOCTYPE html>
<html>
<header>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
		crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
		integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
		crossorigin="anonymous">


</header>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Listar jogos</h1>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Nota</th>
					<th>Gênero</th>
					<th>Emprestado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="tabelaJogos">
					<td wicket:id="nome"></td>
					<td wicket:id="nota"></td>
					<td wicket:id="genero"></td>
					<td wicket:id="emprestado"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<a wicket:id="novo" class="btn">Novo</a>
		<a wicket:id="RepeatingView" class="btn">[RepeatingView]</a>
		
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>
</body>
</html>